<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>register.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterResult</servlet-name>
    <servlet-class>register.RegisterResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterResult</servlet-name>
    <url-pattern>/RegisterResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changeLangServlet</servlet-name>
    <servlet-class>login.ChangeLangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeLangServlet</servlet-name>
    <url-pattern>/ChangeLangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>reservedArticlesServlet</servlet-name>
    <servlet-class>article.ReservedArticlesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reservedArticlesServlet</servlet-name>
    <url-pattern>/ReservedArticlesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>login.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reservation</servlet-name>
    <servlet-class>article.ReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reservation</servlet-name>
    <url-pattern>/ReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>profileUpdate</servlet-name>
    <servlet-class>profile.ProfileUpdaterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profileUpdate</servlet-name>
    <url-pattern>/ProfileUpdaterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newArticle</servlet-name>
    <servlet-class>article.NewArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newArticle</servlet-name>
    <url-pattern>/NewArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateArticle</servlet-name>
    <servlet-class>article.UpdateArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateArticle</servlet-name>
    <url-pattern>/UpdateArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>removeArticle</servlet-name>
    <servlet-class>article.RemoveArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeArticle</servlet-name>
    <url-pattern>/RemoveArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reservedArticle</servlet-name>
    <servlet-class>article.MyReservedArticlesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reservedArticle</servlet-name>
    <url-pattern>/MyReservedArticlesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>removeReservation</servlet-name>
    <servlet-class>article.RemoveReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeReservation</servlet-name>
    <url-pattern>/RemoveReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>myArticle</servlet-name>
    <servlet-class>article.MyArticlesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myArticle</servlet-name>
    <url-pattern>/MyArticlesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selectedArticle</servlet-name>
    <servlet-class>article.SelectedArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectedArticle</servlet-name>
    <url-pattern>/SelectedArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>allArticle</servlet-name>
    <servlet-class>article.AllArticlesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allArticle</servlet-name>
    <url-pattern>/AllArticlesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>filtredArticle</servlet-name>
    <servlet-class>article.FiltredArticlesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>filtredArticle</servlet-name>
    <url-pattern>/FiltredArticlesServlet</url-pattern>
  </servlet-mapping>
</web-app>